@import "@styles/mixins";

.form {
  max-width: 37.5rem;
  label {
    display: block;
    &:not(:first-child) {
      margin-top: var(--spacing-md);
    }
  }
  input, 
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--bg-zinc-400);
    border-radius: 5px;
    outline: none;
    &:-webkit-autofill {
      -webkit-text-fill-color: var(--bg-zinc-100);
      -webkit-box-shadow: 0 0 0 30px var(--bg-zinc-700) inset;
      caret-color: var(--bg-zinc-100);
    }
  }
  textarea {
    min-height: 12.5rem;
    font-family: inherit;
  }
  input.error,
  textarea.error {
    border: 2px solid var(--bg-red-400);
  }
  button {
    display: block;
    margin-top: var(--spacing-md);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.formDark {
  input, 
  textarea {
    background: var(--bg-zinc-700);
    color: var(--bg-zinc-100);
  }
  button {
    background: var(--bg-zinc-100);
  }
}

.formLight {
  input, 
  textarea {
    background: var(--bg-zinc-300);
  }
  button {
    background: var(--bg-zinc-300);
  }
}

.errorMessage {
  color: var(--bg-red-400);
}

.successStatus {
  margin-top: var(--spacing-md);
  color: var(--bg-green-400);
}

.errorStatus {
  margin-top: var(--spacing-md);
  color: var(--bg-red-400);
}