@import "@styles/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: var(--bg-zinc-800);
}

.gradientTop {
  @include bg-gradient;
  height: var(--spacing-sm);
}