@import "@styles/mixins";

.iconsWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 18rem;
  width: 100%;
  margin-bottom: 1.5rem;
  @include xl {
    max-width: 23rem;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  @include xl {
    width: 2.5rem;
    height: 2.5rem;
  }
}