@import "@styles/mixins";

.card {
  padding: var(--spacing-lg);
  background: var(--bg-zinc-700);
  border: 1px solid var(--bg-zinc-400);
  border-radius: 5px;
  h3 {
    margin: var(--spacing-md) 0;
    @include text-lg;
    @include xl {
      @include text-xl;
    }
  }
  p, a {
    @include text-base;
    @include xl {
      @include text-lg;
    }
  }
}

.cardDark {
  background: var(--bg-zinc-700);
}

.cardLight {
  background: var(--bg-zinc-300);
}

.cardLinks {
  display: flex;
  a {
    display: flex;
    align-items: center;
    margin-right: var(--spacing-sm);
    padding: 0.5rem 0.6rem;
    border-radius: 24px;
    @include text-xs;
    @include xl {
      @include text-sm;
    }
    span {
      margin-right: var(--spacing-xs);
    }
  }
}

.cardLinksDark {
  a {
    background: var(--bg-zinc-600);
  }
}

.cardLinksLight {
  a {
    background: var(--bg-zinc-400);
  }
}