@import "@styles/mixins";

.tooltipWrapper {
  position: relative;
}

.tooltipText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  max-width: 20rem;
  padding: var(--spacing-sm);
  border-radius: 5px;
  z-index: 10;
  &::before {
    content: " ";
    position: absolute;
    left: 50%;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-width: 0.5rem;
    margin-left: calc(0.5rem * -1);
  }
}

.tooltipTextDark {
  background: var(--bg-zinc-900);
}

.tooltipTextLight {
  background: var(--bg-zinc-300);
}

.tooltipText-top {
  top: calc(var(--spacing-3xl) * -1);
  @include xl {
    top: calc(var(--spacing-4xl) * -1);
  }
  &::before {
    top: 100%;
  }
}

.tooltipText-topDark {
  &::before {
    border-top-color: var(--bg-zinc-900);
  }
}

.tooltipText-topLight {
  &::before {
    border-top-color: var(--bg-zinc-300);
  }
}

.tooltipText-right {
  left: calc(100% + var(--spacing-md));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  &::before {
    transform: translateX(0) translateY(-50%);
    left: calc(0.5rem * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
}

.tooltipText-rightDark {
  &::before {
    border-right-color: var(--bg-zinc-900);
  }
}

.tooltipText-rightLight {
  &::before {
    border-right-color: var(--bg-zinc-300);
  }
}

.tooltipText-bottom {
  bottom: calc(var(--spacing-4xl) * -1);
  &::before {
    bottom: 100%;
  }
}

.tooltipText-bottomDark {
  &::before {
    border-bottom-color: var(--bg-zinc-900);
  }
}

.tooltipText-bottomLight {
  &::before {
    border-bottom-color: var(--bg-zinc-300);
  }
}

.tooltipText-left {
  left: auto;
  right: calc(100% + var(--spacing-md));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  &::before {
    left: auto;
    right: calc(0.5rem * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
}

.tooltipText-leftDark {
  &::before {
    border-left-color: var(--bg-zinc-900);
  }
}

.tooltipText-leftLight {
  &::before {
    border-left-color: var(--bg-zinc-300);
  }
}