@import "@styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 var(--spacing-xl);
  @include xl {
    max-width: 75rem;
  }
}

.gradientTop {
  @include bg-gradient;
  height: var(--spacing-sm);
}