@import "@styles/mixins";

.globalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 var(--spacing-xl);
  @include xl {
    max-width: 75rem;
  }
}

.childrenWrapper {
  padding: calc(var(--spacing-lg) + 80px) 0;
}