@import "@styles/mixins";

// intro
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include sm {
    flex-direction: row;
    justify-content: space-between;
  }
  p {
    @include md {
      max-width: 40rem;
    }
  }
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-sm);
  a {
    display: flex;
    align-items: center;
    margin-right: var(--spacing-md);
    font-weight: 500;
  }
  img {
    margin-right: var(--spacing-xs);
  }
}

.icon {
  margin-right: var(--spacing-xs);
}

.laptop {
  position: relative;
  max-width: 15.625rem;
  width: 100%;
  height: 15.625rem;
  @include md {
    max-width: 21.875rem;
    height: 21.875rem;
  }
  img {
    object-fit: contain;
  }
}

// latest projects
.latestProjects {
  margin-top: var(--spacing-4xl);
}

// latest posts
.latestPosts {
  margin-top: var(--spacing-4xl);
}