@import "@styles/mixins";

.wrapper {
  padding: var(--spacing-lg) 0;
  p {
    @include xl {
      max-width: 50rem;
    }
  }
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-sm);
  a {
    display: flex;
    align-items: center;
    margin-right: var(--spacing-md);
    font-weight: 500;
  }
  img {
    margin-right: var(--spacing-xs);
  }
}

.icon {
  margin-right: var(--spacing-xs);
}