@import "@styles/mixins";

.wrapper {
  h2 {
    @include text-3xl;
    @include xl {
      @include text-4xl;
    }
  }
  p {
    @include text-base;
    max-width: 40rem;
    @include xl {
      @include text-xl;
      max-width: 50rem;
    }
  }
  span {
    @include text-gradient;
  }
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-sm);
  a {
    display: flex;
    align-items: center;
    margin-right: var(--spacing-md);
    font-weight: 500;
  }
  img {
    margin-right: var(--spacing-xs);
  }
}