@import "@styles/mixins";

.postsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing-lg);
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  @include md {
    grid-template-columns: repeat(3, 1fr);
  }
}