@import "@styles/mixins";

.globalNav {
  ul {
    display: flex;
    a {
      @include text-xs;
      display: block;
      margin-right: var(--spacing-md);
      @include xl {
        @include text-base;
      }
    }
  }
}