@import "@styles/mixins";

.globalNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: var(--spacing-md) var(--spacing-xl);
  @include xl {
    max-width: 75rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    a {
      padding: var(--spacing-xs);
      @include text-xs;
      display: block;
      margin-right: var(--spacing-md);
      @include xl {
        @include text-base;
      }
      &:hover {
        @include text-gradient;
      }
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: 1px solid var(--bg-zinc-400);
    border-radius: 5px;
    color: inherit;
    &:hover {
      cursor: pointer;
    }
  }
}

.currentPathLink {
  @include text-gradient;
}