.info {
  display: flex;
  span {
    margin-right: var(--spacing-sm);
    font-size: .8em;
  }
}

.content {
  a {
    text-decoration: underline;
  }
  p {
    line-height: 1.75rem;
  }
  img {
    width: 100%;
  }
}